/** This is CSS for the Pyladies Fest page **/

* {
	margin: 0;
	padding: 0;
}
body {
  font-family: "Segoe UI", Helvetica, "Segoe UI Light", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.2;
  position: relative;
  cursor: default;
  background: white;
  padding: 0px;
  margin: 0px;
}
.one {
	background-image: url("../images/speech.jpg");
	padding: 30px;
}
.u-section-5 {
    background-image: none;
}
.u-palette-2-light-2, .u-body.u-palette-2-light-2, .u-container-style.u-palette-2-light-2:before, .u-table-alt-palette-2-light-2 tr:nth-child(even) {
    color: #111111;
    background-color: #f1b5b8;
}
.u-align-center {
    text-align: center;
}
body, aside, .u-sidebar-block, section, header, footer {
    position: relative;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.u-body {
    color: #111111;
    background-color: #ffffff;
}
.u-body {
    font-family: 'Open Sans',sans-serif;
}
.u-body {
    font-size: 1rem;
    line-height: 1.6;
}
.u-clearfix:after, .u-clearfix:before {
    content: '';
    display: table;
}
.u-clearfix:after {
    clear: both;
}
.u-clearfix:after, .u-clearfix:before {
    content: '';
    display: table;
}
.u-clearfix:after, .u-clearfix:before {
    content: '';
    display: table;
}
.u-sheet:not(.u-image):not(.u-video) > * {
    pointer-events: auto;
    pointer-events: initial;
}
.u-section-5 .u-text-1 {
    width: 598px;
    font-weight: 400;
    font-family: "Fjalla One";
    margin: 59px auto 0;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > h1:not(.u-title), .u-gradient > .u-container-layout > h1:not(.u-title), .u-image:not(.u-shading) > .u-container-layout > h1:not(.u-title), h1:not(.u-title) {
    color: #db545a;
}
h1:not(.u-title) {
    font-size: 3rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
    list-icon-spacing: 0.3;
    list-icon-size: 0.8;
    font-weight: 400;
}
.u-body h1, .u-body h2, .u-body h3, .u-body h4, .u-body h5, .u-body h6 {
    padding: 0;
}
.u-text-body-alt-color, a.u-button-style.u-text-body-alt-color, a.u-button-style.u-text-body-alt-color[class*="u-border-"] {
    color: #ffffff !important;
}
.u-text {
    word-wrap: break-word;
    position: relative;
}
.u-valign-middle > *, .u-valign-top > *, .u-valign-bottom > * {
    flex-shrink: 0;
}
section > *, header > *, footer > *, .u-sheet > * {
    position: relative;
}
.u-sheet:not(.u-image):not(.u-video) {
    pointer-events: none;
}
.u-body {
    color: #111111;
    background-color: #ffffff;
}
.u-clearfix:after, .u-clearfix:before {
    content: '';
    display: table;
}
.u-section-5 .u-text-1 {
    width: 598px;
    font-weight: 400;
    font-family: "Fjalla One";
    margin: 59px auto 0;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > h1:not(.u-title), .u-gradient > .u-container-layout > h1:not(.u-title), .u-image:not(.u-shading) > .u-container-layout > h1:not(.u-title), h1:not(.u-title) {
    color: #db545a;
}
h1:not(.u-title) {
    font-size: 3rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
    list-icon-spacing: 0.3;
    list-icon-size: 0.8;
    font-weight: 400;
}
.u-text-body-alt-color, a.u-button-style.u-text-body-alt-color, a.u-button-style.u-text-body-alt-color[class*="u-border-"] {
    color: #ffffff !important;
}
.u-text {
    word-wrap: break-word;
    position: relative;
}
.u-section-5 .u-list-1 {
    margin-top: 36px;
    margin-bottom: 0;
    min-height: 516px;
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-gap: 10px;
}
.u-repeater {
    display: grid;
    grid-template-columns: repeat(3, 33.33333333%);
}
.u-expanded-width {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.u-section-5 .u-list-item-1, .u-section-5 .u-list-item-4 {
    background-image: none;
}
.u-tabs:not([class*="u-align-"]), .u-accordion:not([class*="u-align-"]), .u-repeater-item:not([class*="u-align-"]), .u-container-style:not([class*="u-align-"]) {
    text-align: left;
}
.u-white, .u-body.u-white, .u-container-style.u-white:before, .u-table-alt-white tr:nth-child(even) {
    color: #111111;
    background-color: #ffffff;
}
.u-radius-7, .u-radius-7:before, .u-radius-7 .u-background-effect, .u-radius-7 > .u-container-layout {
    border-radius: 7px !important;
}
.u-repeater-item {
    display: flex;
    position: relative;
}
.u-shape-round, .u-shape-round:before, .u-shape-round > .u-container-layout {
    border-radius: 10px;
}
.u-section-5 .u-container-layout-1 {
    padding: 30px;
}
.u-valign-top {
    justify-content: flex-start;
}
.u-valign-middle, .u-valign-top, .u-valign-bottom {
    display: flex;
    flex-direction: column;
		padding: 100px;
}
.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
}
.u-section-5 .u-image-1 {
    width: 72px;
    height: 72px;
    background-image: url('../images/Eva.jpg');
    background-position: 50% 50%;
    margin: 0 auto 0 0;
}
[class*="u-border-"]:not(.u-shape-svg) {
    stroke: none;
}
.u-image-circle.u-image {
    border-radius: 50% !important;
}
.u-border-palette-2-light-2, .u-separator-palette-2-light-2:after {
    border-color: #f1b5b8;
    stroke: #f1b5b8;
}
.u-overlap.u-overlap-transparent .u-header, .u-image, .u-gradient {
    color: #111111;
}
.u-border-8, .u-separator-8:after, .u-text.u-border-8, a.u-button-style.u-border-8 {
    border-width: 8px;
}
class*="u-border-"], .u-link[class*="u-border-"] {
    border-style: solid;
}
.u-inner-container-layout, .u-container-layout > * {
    position: relative;
}

.u-image, .u-background-effect-image, .u-video-poster {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.u-section-5 .u-text-2 {
    font-weight: 700;
    margin: -59px 166px 0 92px;
}
.u-section-5 .u-text-3 {
    font-weight: 300;
    font-size: 1rem;
    margin: 13px 166px 0 92px;
}
.u-custom-font.u-text-font {
    font-family: 'Open Sans',sans-serif !important;
}
h5 {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
}
.u-section-5 .u-icon-1, .u-section-5 .u-icon-3, .u-section-5 .u-icon-4 {
    height: 46px;
    width: 46px;
    margin: 20px auto 0 77px;
}
.u-text-palette-2-light-2, a.u-button-style.u-text-palette-2-light-2, a.u-button-style.u-text-palette-2-light-2[class*="u-border-"] {
    color: #f1b5b8 !important;
}
.u-icon-circle, .u-icon-circle img {
    border-radius: 50%;
}
.u-icon {
    display: block;
    line-height: 0;
    border-width: 0px;
}
.u-opacity-60, .u-opacity-60:before {
    opacity: 0.6;
}
.u-text-palette-2-light-2 svg, .u-text-hover-palette-2-light-2:hover svg, .u-text-hover-palette-2-light-2:focus svg {
    fill: #f1b5b8;
}
svg:not(:root) {
    overflow: hidden;
}
.u-svg-link {
    width: 100%;
    height: 100%;
    fill: currentColor;
}
:not(svg) {
    transform-origin: 0px 0px;
}
.u-svg-content {
    width: 0;
    height: 0;
}
.u-section-5 .u-text-4 {
    margin: -46px 0 0 92px;
}
p:not(.u-text-variant) {
    margin-top: 20px;
    margin-bottom: 20px;
}
p {
    margin-top: 0;
    padding: 0;
    margin-bottom: 0.5rem;
}
.u-section-5 .u-list-item-2 {
    background-image: none;
}
.u-section-5 .u-container-layout-2 {
    padding: 30px;
}
.u-section-5 .u-text-5 {
    font-weight: 700;
    margin: -59px 166px 0 92px;
}
.u-section-5 .u-text-6 {
    font-weight: 300;
    font-size: 1rem;
    margin: 13px 166px 0 92px;
}
.u-section-5 .u-icon-2 {
    height: 46px;
    width: 46px;
    margin: 20px auto 0 77px;
}
.u-section-5 .u-text-7 {
    margin: -46px 0 0 92px;
}
.u-section-5 .u-list-item-3 {
    background-image: none;
}
.u-section-5 .u-container-layout-3, .u-section-5 .u-container-layout-4 {
    padding: 30px;
}
.u-section-5 .u-image-2 {
    width: 72px;
    height: 72px;
    background-image: url();
    background-position: 50% 50%;
    margin: 0 auto 0 0;
}
.u-section-5 .u-image-3 {
    width: 72px;
    height: 72px;
    background-image: url('../images/t.ezra.png');
    background-position: 50% 50%;
    margin: 0 auto 0 0;
}
.u-section-5 .u-image-4 {
    width: 72px;
    height: 72px;
    background-image: url();
    background-position: 50% 50%;
    margin: 0 auto 0 0;
}
.u-section-5 .u-image-5 {
    width: 72px;
    height: 72px;
    background-image: url();
    background-position: 50% 50%;
    margin: 0 auto 0 0;
}
.u-section-5 .u-image-6 {
    width: 72px;
    height: 72px;
    background-image: url();
    background-position: 50% 50%;
    margin: 0 auto 0 0;
}
.u-section-5 .u-image-7 {
    width: 72px;
    height: 72px;
    background-image: url();
    background-position: 50% 50%;
    margin: 0 auto 0 0;
}
.u-section-5 .u-image-8 {
    width: 72px;
    height: 72px;
    background-image: url();
    background-position: 50% 50%;
    margin: 0 auto 0 0;
}
.u-section-5 .u-text-11 {
    font-weight: 700;
    margin: -59px 166px 0 92px;
}
.u-section-5 .u-text-12 {
    font-weight: 300;
    font-size: 1rem;
    margin: 13px 166px 0 92px;
}
.u-section-5 .u-text-8 {
    font-weight: 700;
    margin: -59px 166px 0 92px;
}
}
.u-section-5 .u-text-10 {
    margin: -46px 0 0 92px !important;
}
.u-section-5 .u-text-9 {
    font-weight: 300;
    font-size: 1rem;
    margin: 13px 166px 0 92px;
}
.fest-2019 {
	padding: 70px;
	text-align: center;
}
h2#fest-head {
	color: #fff;
	font-family: Montserrat;
	font-size: 7.7em;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;

}
p.fest-head-body {
	color: gainsboro;
	font-size: 2em;
	margin-top: 1%;
}
p.d-date {
	font-weight: 600;
	color: #ffcba4;
  font-size: x-large;
}
p.bouton {
	text-align: center;
    margin-top: 4%;
}
.register {
	background: gold;
    padding: 15px 20px;
    color: rosybrown;
    text-decoration: none;
    margin-right: 10%;
}
h1.ticker {
	color: #f1f1f1;
}
 .ticker-words {
  padding: 22px;
  color: antiquewhite;
  font-weight: 800;
  font-family: "apple-system", Helvetica;
}
h1,h2,h3,h4,h5,h6 {
	font-family: inherit;
	color: #000;
	font-weight: 400;
}
p {
	font-family: inherit;
}
button {
	padding: 12px 20px;
    border: 0;
}
button:active {
	color: gold;
}
table {
	width: 100%;
	margin-top: 2px;
    border: 1px solid #eeeeee;
}
tr {
	min-width: 200px;
	position: relative;
    vertical-align: inherit;
    border-color: inherit;
    font-weight: 300;
    height: 138px;
    background: linear-gradient(#ffffff, #eaeaea);
}
td {

}
span {
	color: inherit;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
    color: black;
    font-family: inherit;
    font-size: medium;
}
a:visited {
	color: #222222;
}
#countdown {
	font-size: 4em;
    font-weight: bold;
    color: gold;
    text-align: -webkit-center;
    margin-top: -3%;
}
.ticker {
	padding-bottom: 40px;
    font-size: larger;
    margin-top: -30px;
}
#demo {
	padding: 40px;
	margin-top: 40px;
}
.mid {
	padding: 0px 70px 0 70px;
}
section.mid:after {
	background-color: ghostwhite;
}
.side-bar {
	height: 1046px;
    width: 30%;
    float: left;
    background: #ffcba4c7;
    text-align: -webkit-center;
    padding-top: 20px;
    text-align-last: center;
    margin-top: -80px;
    color: #FC6C85;
}
.time {
	font-size: 50px;
	height: 140px;
}
.topics {
	float: right;
	position: absolute;
    z-index: 20;
}
.grid-row {
	display: grid;
	grid-template-rows: 1fr;
  	padding: 0 4px;
}
a img {
 	margin-top: 1px;
 	vertical-align: middle;
  	height: 140px;
  	width: 19.64%;
}

/* Style the buttons */
.btn {
  	border: none;
  	outline: none;
  	padding: 10px 16px;
  	background-color: #f1f1f1;
  	cursor: pointer;
  	font-size: 18px;
}

.btn:hover {
  	background-color: #ddd;
}

.btn.active {
	background-color: #666;
	color: white;
}
.lower {
	display: block;
}
.grid-overlay {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	position: relative;
}
.item-content {
	padding-left: 30px;
}
.media {
	display: flex;
}
img.round-image {
	height: 60px;
	width:60px;
	border-radius: 50% !important;
}
.speaker-img {
	height: 60px;
    width: 60px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 5px 0px 0px rgba(181, 181, 181, 0.2);
    margin-left: 27px;
}
.schedule-layout {
	margin-top: -79px;
    border-bottom: 0;
}
li.nav-item {
	float: left;
    display: inline-block;
    width: 200px;
    border-bottom: 0;
    text-align: center;
    margin-right: 5px;
    margin-top: 10%;
}
.scheduleContent {
	background-color: #FFFFFF;
    padding: 0px;
    display: none;
}
.defaultOpen {
	display: block;
}

.schedule-info {
	padding: 20px 15px;
}
.tablink {
	width: 197px;
    height: 80px;
    font-family: "apple-system","Segoe UI","Helvetica Neue";
    font-size: larger;
    font-weight: 600;
}
.tablink:hover {
	background-color: gold;
}
button.tablink:active {
	background-color: gold;
}
.media-body {
	padding: 20px;
}
h3.thank-you {
	display: inline-block;
  margin-top: inherit;
  font-size: 30px;
  color: aliceblue;
}
.sponsors {
    display: inherit;
    padding-top: 10px;
}
.lower-mid {
	background-color: #7d0552;
    padding: 50px;
    text-align: center;
}
#location {
  color: white;
  background: #222222 url(../images/white-bg.png);
  background-image: url(../images/dark-bg.jpg); }
  #location h1, #location h2, #location h3, #location #archive .grid a .day, #archive .grid a #location .day, #location h4, #location h5, #location h6, #location #archive .grid a .month, #archive .grid a #location .month, #location .subheader, #location p, #location blockquote, #location a, #location small, #location #archive .grid a .year, #archive .grid a #location .year {
    color: white; }
  #location code, #location abbr, #location acronym {
    color: #d9d9d9; }
  #location .row {
    overflow: hidden; }
  #location .address span {
    display: block;
    padding-bottom: 0.5em; }
  #location .address a {
    color: #00aeef; }
    @media only screen and (min-width: 768px) {
    #location .address p {
      text-align: right; }
    #location img {
      border-radius: 0 0.5em 0.5em 0; } }
.feature {
  padding: 1em 0 2em 0;
  position: relative;
  overflow: hidden;
  clear: both;
}
.feature .row {
  margin-bottom: 1em;
  max-width: 1000px;
  text-align: center;
}
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
   clear: both;
}
.large-4 {
  position: relative;
  width: 33.33333%;
}
.locale {
  font-size: 200%;
}
.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}
[class*="column"] + [class*="column"]:last-child {
    float: right;
    width: auto;
}
footer {
	position: relative;
    background: #7D0552;
    background-size: cover;
    color: #fff;
    padding: 90px;
}
.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
h3.footer-header {
	color: #ffcba4;
	padding-bottom: 15px;
}
.footer-links {
  color: white;
}
